html {
  font-family: 'El Messiri', sans-serif;
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  position: relative; }

a:link,
a:visited {
  text-decoration: none;
  color: #ffffff; }

.header {
  height: 70rem;
  width: 100%;
  background-image: linear-gradient(120deg, #34626C 20%, #1A3136);
  overflow: hidden;
  position: relative; }
  @media (max-width: 46.25em) {
    .header {
      height: 65rem; } }
  .header__container {
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: 7rem;
    transform: translate(0, -50%);
    display: flex;
    justify-content: center; }
    @media (max-width: 56.25em) {
      .header__container {
        flex-wrap: wrap;
        margin-top: 4rem; } }
  .header__img {
    width: 50rem;
    height: 25rem;
    margin-right: 5rem;
    box-shadow: 1.5rem 1.5rem 0.5rem rgba(71, 56, 56, 0.3); }
    @media (max-width: 75em) {
      .header__img {
        width: 40rem;
        height: 20rem; } }
    @media (max-width: 56.25em) {
      .header__img {
        margin-bottom: 4rem; } }
    @media (max-width: 30em) {
      .header__img {
        width: 30rem;
        height: 15rem;
        margin: 0;
        margin-bottom: 4rem; } }
  .header__left {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .header__text {
    font-size: 4rem;
    font-weight: 700;
    display: inline-block;
    width: 70rem;
    text-align: center;
    color: #ffffff;
    margin-bottom: 4rem; }
    @media (max-width: 75em) {
      .header__text {
        font-size: 3rem;
        width: 50rem; } }
    @media (max-width: 30em) {
      .header__text {
        font-size: 2rem;
        width: 30rem; } }
  .header__button {
    border: none;
    border-radius: 10rem;
    width: 23rem;
    height: 5.5rem;
    font-size: 2.2rem;
    background-color: #CFD3CE;
    display: flex;
    color: #34626C;
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.3);
    outline: none;
    font-weight: 700;
    justify-content: center;
    align-items: center; }
  .header__button:hover {
    transform: translateY(-3px); }
  .header__button:active {
    transform: translateY(-1px); }
  .header__link:link, .header__link:visited {
    color: #34626C;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center; }

.provide {
  width: 100%;
  height: auto;
  background-image: linear-gradient(120deg, #839B97 30%, #424E4C);
  display: flex;
  justify-content: center; }
  @media (max-width: 75em) {
    .provide {
      flex-wrap: wrap; } }
  .provide__card {
    width: 27rem;
    height: 48rem;
    background-color: #ffffff;
    box-shadow: 1rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7rem; }
  .provide__img {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 20rem;
    height: 12rem; }
  .provide__text {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 5rem;
    padding-left: 2rem;
    padding-right: 2rem; }
  .provide__header {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem; }

.button-primary:link,
.button-primary:visited {
  display: inline-block;
  width: 20rem;
  height: 3.5rem;
  background-color: #34626C;
  text-align: center;
  font-size: 2rem;
  padding-top: .5rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3); }

.button-primary {
  transform: all .3s; }

.button-primary:hover {
  transform: translateY(-3px); }

.button--primary:active {
  transform: translateY(-1px); }

.letsgo {
  width: 100%;
  height: 60rem;
  background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.7)), url("../img/letsgo.svg");
  position: relative; }
  .letsgo__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    padding-top: 10rem;
    width: 70%; }
    @media (max-width: 37.5em) {
      .letsgo__container {
        position: absolute;
        top: 12%;
        z-index: 2; } }
  .letsgo__header {
    font-size: 4rem;
    font-weight: 700;
    color: #ffffff;
    margin-top: 4rem;
    text-align: end;
    margin-bottom: 2rem; }
    @media (max-width: 37.5em) {
      .letsgo__header {
        font-size: 2.5rem;
        margin-left: 4rem; } }
  .letsgo__header-secondary {
    font-size: 3rem;
    font-weight: 400;
    color: #ffffff;
    text-align: end;
    margin-bottom: 2rem; }
    @media (max-width: 37.5em) {
      .letsgo__header-secondary {
        font-size: 2rem; } }
  .letsgo__button:link, .letsgo__button:visited {
    border: none;
    border-radius: 10rem;
    width: 20rem;
    height: 4rem;
    text-align: center;
    font-size: 2.2rem;
    background-color: #CFD3CE;
    display: flex;
    color: #34626C;
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.3);
    outline: none;
    font-weight: 400;
    text-align: center;
    align-items: center;
    justify-content: center; }
  .letsgo__button:hover {
    transform: translateY(-3px); }
  .letsgo__button:active {
    transform: translateY(-1px); }

.cards__container {
  display: flex;
  padding-bottom: 5rem;
  padding-top: 7rem;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; }
  @media (max-width: 30em) {
    .cards__container {
      padding-left: 0; } }

.cards__card {
  background-color: #ffffff;
  box-shadow: 1rem 1rem 1rem #000000;
  width: 35rem;
  margin: 3rem; }
  @media (max-width: 30em) {
    .cards__card {
      width: 30rem; } }

.cards__img {
  width: 100%;
  height: 22rem;
  display: inherit; }

.cards__textHolder {
  display: flex;
  width: 100%; }

.cards__about {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1rem;
  border: 0.5px solid rgba(112, 112, 112, 0.3);
  height: 4rem;
  margin-bottom: 2rem;
  width: 100%; }
  @media (max-width: 30em) {
    .cards__about {
      padding: 0.5rem; } }

.cards__about--text {
  padding-right: 0.5rem;
  font-size: 1.2rem;
  font-weight: 400; }
  @media (max-width: 30em) {
    .cards__about--text {
      font-size: 1.3rem; } }

@media (max-width: 30em) {
  .cards__about--icon {
    width: 3rem;
    height: 3rem; } }

.cards__price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end; }

.cards__price--header {
  font-size: 2rem;
  margin-bottom: 3rem;
  padding-right: .5rem;
  word-spacing: 5px; }

.cards__button:link, .cards__button:visited, .cards__button {
  font-size: 1.4rem;
  align-self: center;
  width: 12rem;
  margin-bottom: 2rem; }

.cards__green {
  color: #16A500;
  word-spacing: 5px;
  padding-left: 5px;
  padding-right: 5px; }

.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .btn__pages {
    width: 10rem;
    height: 3rem;
    border: none;
    background-color: #ffffff;
    color: #000000;
    font-size: 1.5rem;
    margin: 3rem;
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.9);
    font-weight: 500; }
  .btn__icon {
    width: 1rem;
    height: 1rem;
    margin-left: 5px; }

.nav {
  display: flex;
  height: 8rem;
  width: 100%;
  justify-content: space-between;
  color: #ffffff;
  z-index: 50;
  background-color: #000000;
  align-items: center;
  position: fixed; }
  @media (max-width: 46.25em) {
    .nav {
      position: fixed;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      margin-bottom: 1rem;
      background-color: transparent;
      height: auto;
      padding-top: 0; } }
  .nav__logo h1 {
    font-size: 2rem;
    font-weight: 700; }
  .nav__logo {
    margin-right: 5rem;
    order: 2; }
    @media (max-width: 46.25em) {
      .nav__logo {
        padding: 2rem;
        background-color: #000000;
        order: -2;
        width: 100%;
        margin-right: 0;
        text-align: end;
        height: 100%; } }
  .nav__items {
    display: flex;
    list-style: none;
    padding-left: 5rem;
    align-items: flex-start;
    font-size: 2rem;
    order: 0; }
    @media (max-width: 46.25em) {
      .nav__items {
        align-items: flex-end;
        flex-direction: column;
        display: none;
        width: 20rem;
        background-color: #3d59a7;
        box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2); } }
  .nav__item {
    padding-left: 4rem;
    font-weight: 500; }
    @media (max-width: 46.25em) {
      .nav__item {
        margin-top: 1rem;
        padding: 0;
        color: #ffffff;
        padding-right: 2rem;
        margin-bottom: 1.5rem; } }
  .nav__link:link, .nav__link:visited {
    display: inline-block;
    font-size: 2rem;
    text-decoration: none;
    color: #ffffff;
    opacity: 70%; }
    @media (max-width: 37.5em) {
      .nav__link:link, .nav__link:visited {
        opacity: 100%;
        font-size: 2.5rem; } }
  .nav__link:hover, .nav__link:active {
    opacity: 100%; }
  .nav__icon {
    display: none; }
    @media (max-width: 46.25em) {
      .nav__icon {
        display: flex;
        width: 4rem;
        height: 4rem;
        background-color: #ffffff;
        border-radius: 10rem;
        box-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.3);
        justify-content: center;
        align-items: center;
        order: -1;
        position: fixed;
        margin-bottom: 2rem;
        top: 1.5rem;
        left: 3rem;
        border: none; }
        .nav__icon:focus {
          outline: none; }
        .nav__icon:active {
          transform: translateY(2px); } }
  .nav__hum {
    width: 2.5rem;
    height: 2.5rem; }

.footer {
  width: 100%;
  height: auto;
  background-color: #000000;
  color: #ffffff;
  bottom: 100%; }
  .footer__container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 75em) {
      .footer__container {
        width: 100%;
        justify-content: center; } }
    @media (max-width: 37.5em) {
      .footer__container {
        flex-wrap: wrap;
        align-items: center; } }
  .footer__left {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-left: 5rem;
    align-items: center; }
    @media (max-width: 75em) {
      .footer__left {
        padding-right: 20rem; } }
    @media (max-width: 46.25em) {
      .footer__left {
        padding-right: 0;
        padding-left: 0; } }
  .footer__text {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 400; }
  .footer__img {
    padding-left: 1rem;
    width: 3.5rem;
    height: 3.5rem; }
  .footer__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    @media (max-width: 37.5em) {
      .footer__right {
        align-items: center; } }
  .footer__end {
    margin-top: 6rem;
    display: inline-block;
    width: 70%;
    text-align: end;
    font-size: 1.8rem;
    margin-bottom: 4rem;
    font-weight: 400; }
    @media (max-width: 75em) {
      .footer__end {
        align-items: center; } }
    @media (max-width: 37.5em) {
      .footer__end {
        align-items: center;
        width: 70%;
        text-align: center; } }
  .footer h4 {
    text-align: center;
    font-size: 2rem;
    padding-right: 8rem;
    font-weight: 300; }
    @media (max-width: 37.5em) {
      .footer h4 {
        padding-right: 0px; } }

.cards {
  width: 90%;
  margin: 0 auto;
  background-color: #151129;
  text-align: center;
  margin-bottom: 10rem;
  margin-top: 10rem;
  border-radius: 1.5rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.35); }
  .cards__header {
    font-size: 5rem;
    color: #ffffff;
    margin: 0 auto;
    padding-top: 3rem; }

body {
  background-color: rgba(196, 193, 206, 0.3); }

.details {
  display: flex;
  width: 60%;
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
  border: 1px solid #707070;
  border-right: none;
  background-color: rgba(255, 255, 255, 0.35);
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1); }
  .details__gallery {
    display: flex;
    flex-direction: column;
    width: 50%;
    order: 2;
    height: 35rem; }
  .details__gallery-sub {
    display: flex;
    width: 100%; }
  .details__img-main {
    width: 100%;
    height: 15rem;
    flex-grow: 3; }
  .details__img-sub {
    width: 33.4%;
    height: 10rem; }
    .details__img-sub:last-of-type {
      position: relative; }
    .details__img-sub:last-of-type::after {
      content: '+4';
      color: #ffffff;
      text-align: center;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); }
  .details__img-sub-img {
    width: 100%;
    height: 100%; }
  .details__info {
    order: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    color: #34626C; }
  .details__propety-connection {
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: flex-end; }
  .details__info-container {
    display: flex;
    justify-content: center;
    width: 100%; }
  .details__location {
    margin: 0 auto;
    width: 90%;
    text-align: end;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem; }
  .details__propety-header {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem; }
  .details__propety {
    width: 50%; }
  .details__propety-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end; }
  .details__propety-details {
    margin-bottom: 2rem;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    font-weight: 500; }
    .details__propety-details span {
      display: inline-block;
      margin-left: 0.5rem;
      margin-right: 0.5rem; }
  .details__propety-user-info {
    font-size: 1.4rem;
    font-weight: 400; }
  .details__propety-icon {
    width: 2rem;
    height: 2rem; }
