//////nav



.nav{
    display: flex;
    height: 8rem;
    width: 100%;
    justify-content: space-between;
    color: #ffffff;
    //position: absolute;
    z-index: 50;
    background-color: #000000;
    align-items: center;
    position: fixed;
    @include responed(tablet-port){
        position: fixed;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 1rem;
        background-color: transparent;
        height: auto;
        
        
       
        
        padding-top: 0;
    }
  
    &__logo h1{
        font-size: 2rem;
        font-weight: 700;
     
    }
    &__logo{
        margin-right: 5rem;
        order: 2;
        @include responed(tablet-port){
            padding: 2rem;
            background-color: #000000;
            order: -2;
            width: 100%;
            margin-right: 0;
            text-align: end;
            height: 100%;
            display:flex;
            justify-content: flex-end;
            
        }
    }
    &__logo-en{
        margin-right: 0;
        margin-left: 5rem;
        
        @include responed(tablet-port){
            order: 0;
            text-align: start;
            padding: 2.5rem;
            justify-content: flex-start;
        }
    }
    &__items{
        display: flex;
        list-style: none;
        padding-left: 5rem;
        align-items: flex-start;
        font-size: 2rem;
      
        @include responed(tablet-port){
            align-items: flex-end;
            flex-direction: column;
           // justify-content: flex-end;
            display: none;
            width: 30rem;
            background-color: #3d59a7;
            box-shadow: 1rem 1rem 1rem rgba(#000000,0.2);
            
           

        }
       
        
      
        
        order: 0;

    }
    &__items-en{
        order: 5;
        padding-left: 0;
        padding-right: 3rem;

    }
    
    &__item{
        
        padding-left: 3rem;
        font-weight: 500;
      
        @include responed(tablet-port){
            
           
           margin-top: 1rem;

           padding: 0;
          
           color: #ffffff;
           padding-right: 2rem;
           margin-bottom: 1.5rem;
          
           
           
              
            }
    }
    
   
    &__link:link,
    &__link:visited{
        display: flex;
       
        font-size: 2rem;
        text-decoration: none;
        color:#ffffff ;
        opacity: 70%;
        &:first-child {
            margin-left: 2rem;
        }
        &:first-child img{
             margin-left: 1rem;
             
        }
        @include responed(phone){
            opacity: 100%;
            font-size: 2.5rem;
            
        }
        
    }
    &__link:hover,
    &__link:active{
        opacity: 100%;
    }   
        /////////////////////////navigation for phone
        &__icon{
            display: none;
            @include responed(tablet-port){
                display: flex;
                width:4rem;
                height: 4rem;
                background-color: #ffffff;
                border-radius: 10rem;
                
                box-shadow: .5rem 1rem 1rem rgba(#000000,0.3) ;
                justify-content: center;
                align-items: center;
                order: -1;
                
                position: fixed;
                margin-bottom: 2rem;
                top: 1.5rem;
                left: 3rem;
                border: none;
                &:focus{
                    outline: none;
                }
                &:active{
                    transform: translateY(2px);
                }
     
        }
            
            
        }
        &__icon-en{
            left: auto;
            right: 3rem;
        }
        
        &__hum{
            width: 2.5rem;
            height: 2.5rem;
            
           

        }
        &__link img{
            width: 3rem;
            height:2.5rem;
        }
        

    
}
 .nav-en{
    @include responed(small-tablet){
    justify-content: flex-start;
    }
 }







///////////////footer 
.footer{
    width: 100%;
    height: auto;
    background-color: #000000;
    color: #ffffff;
    bottom: 100%;
    
    &__container{
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include responed(tablet-landscape){
            width: 100%;
            justify-content: center;

        }
        @include responed(phone){
            flex-wrap: wrap;
            align-items: center;
        }
    }
    &__left{
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
        padding-left: 5rem;
        align-items: center;
        @include responed(tablet-landscape){
            padding-right: 20rem;

        }
        @include responed(small-tablet){
            padding-right: 0;
            padding-left: 0;
        }
       
    }
    &__text{
        margin-bottom: 2rem;
        font-size: 2.5rem;
        font-weight: 400;
       
    }
    &__img{
        padding-left: 1rem;
        width: 3.5rem;
        height: 3.5rem;
        
   
    }
    &__right{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @include responed(phone){
           align-items: center;
         }
       
    }
    &__end{
        margin-top: 6rem;
        display: inline-block;
        width: 70%;
        text-align: end;
        
        font-size: 1.8rem;
        margin-bottom: 4rem;
        font-weight: 400;
        @include responed(tablet-landscape){
            align-items: center;
            
               
           }
           @include responed(phone){
            align-items: center;
            width: 70%;
            text-align: center;
            
               
           }
    }
    &__end-en{
        text-align: center;
    }
    & h4{
        text-align: center;
       font-size: 2rem;
        padding-right: 8rem;
        font-weight: 300;
        @include responed(phone){
          padding-right: 0px;
            
               
           }
        
   
   
       
    }
   
   }

.footer .en-h4{
    padding-right: 11rem;
    @include responed(phone){
        padding-right: 0px;
          
             
         }
}


   