.details{
    display: flex;
    width: 60%;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
    border:1px solid #707070;
    border-right: none;
    background-color: rgba(#ffffff,0.35);
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(#000000,0.1);
    &__gallery{
        display: flex;
        flex-direction: column;
        width: 50%;
        order: 2;
        height: 35rem;



    }
    &__gallery-sub{
        display: flex;
        width: 100%;
        


    }
    &__img-main{
        width: 100%;
        height: 15rem;
        flex-grow: 3;


    }
    &__img-sub{
        width: 33.4%;
        height: 10rem;
        &:last-of-type{
            position: relative;
        }
    &:last-of-type::after{
        content:'+4';
        color: #ffffff;
        text-align: center;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(90deg,rgba(#000000,0.5),rgba(#000000,0.5));
    }
    }
    &__img-sub-img{
        width: 100%;
        height: 100%;
    }

    &__info{
        order: 0;
        width: 50%;
        display: flex;
        flex-direction: column;
        color:#34626C;

    }

    &__propety-connection{
        margin-right: 2rem;
        display: flex;
        flex-direction: column;
        width: 40%;
        align-items: flex-end;



    }
    &__info-container{
        display: flex;
        justify-content: center;
       
        
        width: 100%;
    }
    &__location{
        margin: 0 auto;
        width: 90%;
        text-align: end;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 2rem;
    }
    &__propety-header{
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 2rem;
       
    }
    &__propety{
        width: 50%;
    }
    &__propety-info{
       
        display: flex;
        flex-direction: column;
        width:100%;
        align-items: flex-end;
      
      



    }
    &__propety-details{
        
        margin-bottom: 2rem;
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        font-weight: 500;
        
        & span{
            display: inline-block;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
    }
    &__propety-user-info{
        font-size: 1.4rem;
        font-weight: 400;
    }
    &__propety-icon{
        width: 2rem;
        height:2rem;
        
    }
}